{% extends 'base.html.twig' %}

{% block title %}
<title>Esuria // Agenda</title>
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/Agenda.css")}} />
{% endblock %}
{% block content %}
		<!-- CONTENU -->
		<div id="Scroll">
			<div class="Bandeau">
				<h1 class="Gros_Titre">- Prochains événements -</h1>
			</div>

			<div class="Article_element">
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>

				<div class="Une_Boite hidden">
				</div>

				<div class="Une_Boite hidden">
				</div>

			</div>

			<div class="Bandeau">
				<h1 class="Gros_Titre">- Evénements passés -</h1>
			</div>

			<div class="Article_element">
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>
				<div class="Une_Boite">
					<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/320x180" class="Photo"></a>
					<div class="Sous_Bandeau">
						<h2 class="Titre_article">
							Titre de l'article
						</h2>
						<p class="Date">
							<span class="Couleur_slash">// </span>Vendredi 5 Mai 2017
						</p>
					</div>
				</div>

				<div class="Une_Boite hidden">
				</div>

				<div class="Une_Boite hidden">
				</div>

			</div>
			</div>
			<hr id="Separation_basse" />
			<div id="Partie_Basse">
				<div id="Gauche">
					<i class="fal fa-map" aria-hidden></i>
					<p>
						Carte des rencontres IRL
					</p>
				</div>
				<div id="Droite">
					<p>
						Planning&nbsp;de&nbsp;contenus
					</p>
				</div>
		</div>
{% endblock %}
