{% extends 'base.html.twig' %}
{% block title %}
<title>Esuria // Contact</title>
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/Contact.css")}} />
{% endblock %}
{% block content %}

		<!-- CONTENU -->
		<div id="Zone">
			<form method="post" action="traitement.php">
				<div class="En_ligne">
					<i class="fal fa-user-alt icone_jaune Police_i" aria-hidden></i>
					<input type="text" name="pseudo" id="pseudo" autofocus required maxlength="20" placeholder="Pseudo" />
				</div>
				<div class="En_ligne">
					<i class="fal fa-envelope icone_jaune Police_i" aria-hidden></i>
					<input type="email" name="e-mail" id="e-mail" required placeholder="E-Mail" />
				</div>
				<div class="En_ligne">
					<i class="fal fa-info icone_jaune Police_i" aria-hidden></i>
					<input type="text" name="Objet" id="Objet" required placeholder="Objet" />
				</div>
				<div class="En_ligne_text">
					<i class="fal fa-pencil-alt icone_jaune Police_i" aria-hidden></i>
					<textarea name="Message" id="Message" required placeholder="Message"></textarea>
				</div>
			</form>
			<div id="Bouton_envoie">
				<p>
					ENVOYER LE MESSAGE
				</p>
				<i class="fal fa-paper-plane" id="ico_send"></i>
			</div>
			<div id="Ensemble">
				<div class="Bas_ligne">

					<p class="Police_bas">
						<i class="fal fa-at icone_bas" aria-hidden></i> E-MAIL PRO
					</p>
					<p class="Police_mail">
						<a href="mailto:kleine.thomas@com4up.fr">kleine.thomas@com4up.fr</a>
					</p>
				</div>
				<div class="Bas_ligne">
					<p class="Police_bas">
						<i class="fal fa-at icone_bas" aria-hidden></i> E-MAIL FAERITH'S
					</p>
					<p class="Police_mail">
						<a href="mailto:esu.faeriths@gmail.com">esu.faeriths@gmail.com</a>
					</p>
				</div>
				<div class="Bas_ligne">
					<p class="Police_bas">
						<i class="fab fa-discord icone_bas"></i> DISCORD ID
					</p>
					<p class="Police_mail">
						<a href="https://discord.gg/EFPsJrf">Esuria#9726</a>
					</p>
				</div>
			</div>

{% endblock %}
