{% extends 'base.html.twig' %}
{% block title %}
<title>Esuria // Titre de l'article</title>
{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href={{asset("css/Lecture_Article.css")}} />
{% endblock %}
{% block content %}
		<!-- CONTENU -->
		<div id="Zone">
			<a href="https://placeholder.com" class="Lien_Photo"><img src="http://via.placeholder.com/1280x200" class="Photo"></a>
				<h1 id="Titre">
						Lancement de Au-Delà
					</h1>
				<div id="Cat">
					<h2 id="Categorie">
							News
						</h2>
					<p id="Separation_Categorie">
						|
					</p>
					<p id="Date">
						Posté le 06/12/19
					</p>
				</div>

				<p id="Interieur">
					Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas acies explicare permissi nec firmare nisu valido
					gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt. Isdem diebus Apollinaris Domitiani gener, paulo ante agens palatii
					Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem Armeniam lapsus Constantinopolim petit exindeque
					per protectores retractus artissime tenebatur. Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices venerint summos, inter arta tamen et invia nullas
					acies explicare permissi nec firmare nisu valido gressus: hoste discursatore rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex necessitate ultima fortiter dimicante, superati periculose per prona discedunt. Isdem diebus Apollinaris
					Domitiani gener, paulo ante agens palatii Caesaris curam, ad Mesopotamiam missus a socero per militares numeros immodice scrutabatur, an quaedam altiora meditantis iam Galli secreta susceperint scripta, qui conpertis Antiochiae gestis per minorem
					Armeniam lapsus Constantinopolim petit exindeque per protectores retractus artissime tenebatur.
				</p>

				<div id="After_Article">
					<p id="Hashtag">
						#Technologie #UX #Web
					</p>
					<div id="Social_share">
						<i class="fab fa-facebook espace_icone" aria-hidden></i>
						<i class="fab fa-twitter espace_icone" aria-hidden></i>
						<i class="fab fa-tumblr-square espace_icone" aria-hidden></i>
					</div>
				</div>

				<div id="Total_com">
					<p id="Espace_Commentaire">
						Commentaire
					</p>
					<textarea id="Zone_com"></textarea>
					<div id="Bouton_envoie">
						ENVOYER
					</div>
				</div>
		</div>
{% endblock %}
