#Zone {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Hobbies_Switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  max-height: 10vh;
  height: 10vh;
  width: 100%;
  border-bottom: solid #003471 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

#Hobbies_Switch a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  max-width: 25%;
  text-decoration: none;
  color: white;
  font-size: 3em;
}

#Hobbies_Switch a:hover {
  cursor: pointer;
  color: #bd7a00;
}

.fa-chevron-left, .fa-chevron-right, .fa-music {
  color: #bd7a00;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 0.75em;
  margin-left: 1em;
  margin-right: 1em;
}

#Zone_bas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
}

#Zone_bas::-webkit-scrollbar {
  width: 0.2em;
}

#Zone_bas::-webkit-scrollbar-track {
  background-color: none;
}

#Zone_bas::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bd7a00;
}

#Moment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 2px dashed #003471;
  border-bottom: 2px dashed #003471;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  margin-top: 1em;
  color: #FFFFFF;
}

.Moment_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  width: 100%;
}

#Moment_data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 4em 2.3em;
  width: 100%;
}

#Moment_data a img {
  height: 250px;
  width: 250px;
}

#Moment_data a img:hover {
  border: 2px solid #bd7a00;
  margin: -2px;
  padding: -2px;
}

.Mobile_Moment, .Moment_data_mobile {
  display: none;
}

.Une_Boite a img:hover {
  border: 2px solid #bd7a00;
  margin: -2px;
  padding: -2px;
}

.Une_Boite_groupe a img:hover {
  border: 2px solid #bd7a00;
  margin: -2px;
  padding: -2px;
}

#Moment_data iframe {
  height: 243px;
  width: 432px;
}

.Wrap {
  width: 90%;
}

.Favori {
  display: flex;
  width: 100%;
  height: 2em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 2px dashed #003471;
  border-bottom: 2px dashed #003471;
  font-family: "Cinzel", serif;
  font-size: 1.5em;
  margin: -2em 0 0 0;
  padding: 0;
  color: #FFFFFF;
}

.Favori p {
  margin: 0 0 0 1em;
}

.Article_element {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 1.5em auto 1.5em auto;
}

.Article_element_groupe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 1.5em 0 1.5em 0;
}

.Article_element>.Une_Boite {
  width: 150px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0.5em 1.5em 0.5em;
}

.Article_element_groupe>.Une_Boite_groupe {
  width: 30em;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5em 0;
}

.Une_Boite img {
  width: 150px;
  height: 100%;
}

.Une_Boite_groupe img {
  width: 100%;
  height: 100%;
}

.hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
}

@media screen and (max-width:800px) {
  #Moment, #Moment_data {
    display: none;
  }

  .Mobile_Moment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  height: 3em;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px dashed #003471;
    border-bottom: 2px dashed #003471;
    font-family: "Cinzel", serif;
    font-size: 1.5em;
    color: #FFFFFF;
    margin: 1em 0em 1em 0em;
  }

  .Favori {
    height: 3em;
    justify-content: center;
  }

  .Favori p {
    margin-left: 0;
  }

  .Moment_data_mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .Moment_data_mobile iframe {
    height: 360px;
    width: 640px;
    margin-bottom: 4.5em;
  }

  .Moment_data_mobile a img:hover {
    border: 2px solid #bd7a00;
    margin: -2px;
    padding: -2px;
  }
  .Article_element {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 1.5em 0 0.5em 0;
  }

  .Article_element_groupe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 1.5em 0 0.5em 0;
  }
}

@media screen and (max-width:650px) {
  #Hobbies_Switch a {
    font-size: 2em;
  }
}
