#Nav_cms {
    width: 100%;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #bd7a00;
    border: none;
    border-bottom: solid 2px #003471;
    background: none;
}

.CMS_wrap {
    display: none;
    width: 100%;
}


/* presentation */

#Presentation {
    width: 100%;
}

#Presentation_cms {
    width: 100%;
    color: white;
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: center;
}

#Presentation_cms form {
    width: 100%;
}

.Presentation_cms_line {
    width: 90%;
    margin: 0.5em 0 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.Presentation_cms_line input {
    width: 60%;
    margin: 0;
}

.Presentation_cms_line textarea {
    width: 60%;
    height: 5em;
    margin: 0;
    resize: none;
}

#Presentation button {
    width: 20%;
    margin-left: calc(40% - 2.5em);
}

.LittleCircle i {
    color: white;
    height: 100%;
    width: 100%;
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.5em;
}

.LittleCircle i:hover {
    color: #bd7a00;
    transition-duration: 0.3s;
}

.InsideCircle {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.InsideCircle:hover>i {
    color: #bd7a00;
    transition-duration: 0.3s;
}

.timeline_action {
    display: none;
}

.timeline_action a {
    margin: 0.2em;
    text-decoration: none;
    color: white;
}

.timeline_action_active {
    display: flex;
}

#Competences_data {
    overflow: hidden;
    overflow-y: scroll;
    height: 15em;
}

#Competences_data::-webkit-scrollbar {
    width: 0.2em;
}

#Competences_data::-webkit-scrollbar-track {
    background-color: none;
}

#Competences_data::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bd7a00;
}

.Competences_line a {
    text-decoration: none;
    color: white;
    width: auto;
}

.Competences_line p {
    margin-right: 1em;
}

.Competences_line i {
    font-size: 1em;
}

.Competences_line a:hover>i {
    color: #bd7a00;
    transition-duration: 0.3s;
}


/* projet */

#Projets_cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", serif;
    color: white;
}

#Projets_Switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    width: 100%;
}

#Projets_Switch a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
    text-decoration: none;
    color: white;
    font-size: 3em;
}

#Projets_Switch a:hover {
    cursor: pointer;
    color: #bd7a00;
}

.Hobbies_Select {
    color: #bd7a00;
}

.cms_hr {
    background-color: white;
    width: 90%;
    height: 1px;
    margin-top: 0;
    padding-top: 0;
}

#Sort_Select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 3em;
    min-height: 3em;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px dashed #003471;
    border-bottom: 2px dashed #003471;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin-top: 1em;
    color: #FFFFFF;
}

#Sort_Select_Mobile {
    display: none;
}

#Sort_Select .sort:hover {
    color: #bd7a00;
    cursor: pointer;
}

.Sort_Select {
    color: #bd7a00;
}

.Article_list {
    width: 60%;
}

.Article_line {
    color: white;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Article_date {
    font-family: 'Roboto Slab', serif;
}

.Article_nom {
    font-family: "Cinzel", serif;
}

.Article_Interaction i {
    cursor: pointer;
}


/* hobbies */

#Hobbies_cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", serif;
    color: white;
}

#Hobbies_Switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh;
    width: 100%;
}

#Hobbies_Switch a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    max-width: 25%;
    text-decoration: none;
    color: white;
    font-size: 3em;
}

#Hobbies_Switch a:hover {
    cursor: pointer;
    color: #bd7a00;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #bd7a00;
}

.Coloractive {
    color: #bd7a00;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 0.75em;
    margin-left: 1em;
    margin-right: 1em;
}

.CMS_Hobbies {
    display: none;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    width: 90%;
    height: 40em;
}

.CMS_Hobbies::-webkit-scrollbar {
    width: 0.2em;
}

.CMS_Hobbies::-webkit-scrollbar-track {
    background-color: none;
}

.CMS_Hobbies::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #bd7a00;
}

.CMS_Titre {
    color: #bd7a00;
    font-size: 1.5em;
    font-family: "Cinzel", serif;
}

.Hobbies_Line {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
    min-height: 1.3em;
    font-family: "Roboto Slab", serif;
}

.Hobbies_image {
    cursor: pointer;
}

.Hobbies_Link {
    cursor: pointer;
    margin-left: 8em;
}


/* Blog */

#Blog_cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    color: white;
}


/* Agenda */

#Agenda_cms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    color: white;
}

.active {
    display: flex;
}

#circle {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    /* background-color: red; */
}

.fini {
    background-color: green;
}

.developpement {
    background-color: orange;
}

.Hors-ligne {
    background-color: red;
}