.Photo {
  height: 250px;
  width: 100%;
  border-bottom: 2px solid #E69500;
}

.espace_icone {
  padding-right: 0.5em;
}

#Titre {
  font-family: "Cinzel", serif;
  color: white;
  margin-bottom: 0;
}

#Categorie, #Separation_Categorie, #Date {
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 1em;
}

#Separation_Categorie {
  margin-left: 1em;
  margin-right: 1em;
}

#Titre, #Cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Interieur {
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Roboto", sans-serif;
  color: white;
}

#Zone {
  overflow: hidden;
  overflow-y: scroll;
}

#Zone::-webkit-scrollbar {
    width: 0.2em;
}

#Zone::-webkit-scrollbar-track {
    background-color: none;
}

#Zone::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E69500;
}

#CkEditorContent {
  padding: 1em;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

#Hashtag {
  display: flex;
  font-family: "Cinzel", serif;
  color: white;
  margin-left: 1em;
  justify-content: flex-start;
  width: 50%;
}

#Social_share {
  display: flex;
  color: white;
  font-size: 2em;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

#Social_share a {
  color: white;
}

#After_Article {
  display: flex;
  align-items: center;
  width: 100%;
}

#separation_your_com {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: #E69500;
}

#separation_com {
  width: 90%;
  height: 1px;
  border: 0;
  background-color: white;
}

#Total_com {
  margin-left: 1em;
  margin-right: 1em;
}

#Espace_Commentaire {
  font-family: "Roboto Slab", serif;
  color: white;
}
.titre_com {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0;
}

.gras {
  font-weight: bold;
}

.Zone_com {
  border: 2px solid #003471;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0;
  margin-bottom: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  resize: vertical;
}

.Zone_pseudo {
  border: 2px solid #003471;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

#Bouton_envoie {
  display: flex;
  justify-content: center;
  border: 2px solid #003471;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  font-family: "Cinzel", serif;
  font-size: 1.25em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

#Bouton_envoie:hover {
  color: #E69500;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
