#Site_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Zone {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Hobbies_Switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 6vh;
    max-height: 6vh;
    height: 6vh;
    width: 100%;
    border-bottom: solid #003471 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

#Hobbies_Switch a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 20%;
    max-width: 20%;
    text-decoration: none;
    color: white;
    font-size: 3em;
}

#Hobbies_Switch a:hover {
    cursor: pointer;
    color: #E69500;
}

.Hobbies_Select {
    color: #E69500;
}

#Sort_Select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 3em;
    min-height: 3em;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 2px dashed #003471;
    border-bottom: 2px dashed #003471;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    margin-top: 1em;
    color: #FFFFFF;
}

#Sort_Select_Mobile {
    display: none;
}

#Sort_Select .sort:hover {
    color: #E69500;
    cursor: pointer;
}

.Sort_Select {
    color: #E69500;
}

#Zone_bas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
}

#Zone_bas::-webkit-scrollbar {
  width: 0.2em;
}

#Zone_bas::-webkit-scrollbar-track {
  background-color: none;
}

#Zone_bas::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #E69500;
}


.hidden {
    width: 295px;
    height: 0;
}


.Article_element {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
  justify-content: center; /* NEW */
  padding: 0;  /* NEW */
}

.Une_Boite {
  width: 295px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-left: 0.8em;
  margin-right: 0.8em;
  margin-bottom: 1em;
}

.Photo {
  width: 295px;
  height: 180px;
}

.Lien_Photo {
  margin: 0;
  padding: 0;
  border-bottom: 4px solid #003471;
  width: 295px;
  height: 180px;
}

.Titre_article {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1.25em;
}

.Date {
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 1em;
}

.Sous_Bandeau {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Roboto Slab", serif;
  width: 100%;
  margin: 0;
  padding: 0;
  width: 295px;
}

.Couleur_slash {
  color: #bd7a00;
  font-size: 1.25em;
}

.Description {
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 12vh;
  max-height: 12vh;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
}

.Description::-webkit-scrollbar {
  width: 0.2em;
}

.Description::-webkit-scrollbar-track {
  background-color: none;
}

.Description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bd7a00;
}


/* PAGINATION */

#Centre_chiffre {
    margin: 0.4em auto 0.4em auto;
    color: white;
    font-size: 1.2em;
}

#Centre_chiffre button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    font-family: 'Roboto Slab', serif;
}

#Centre_chiffre button:focus {
    outline: none;
}

#Centre_chiffre .pag_select {
    border: solid 1px #E69500;
}


/* ************************* */

@media screen and (max-width:1024px)
/* Mobile */

{
    #Hobbies_Switch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 10vh;
        max-height: 10vh;
        height: 10vh;
        width: 100%;
        border-bottom: solid #003471 2px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    #Sort_Select {
        display: none;
    }
    #Sort_Select_Mobile {
        display: block;
        width: 100%;
        height: 7vw;
        background: none;
        border: none;
        border-bottom: 2px dashed #003471;
        background-color: rgba(0, 0, 0, 0.3);
        font-family: 'Roboto Slab', serif;
        font-size: 1.5em;
        color: #FFFFFF;
    }
    #Sort_Select_Mobile:focus {
        outline: none;
    }
}

.active {
    color: #E69500!important;
}
