{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}}
    new-article
{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{{asset("css/Blog.css")}}"/>
{% endblock %}
{% block content %}
 
 <div id="app" style="display: flex;flex-direction: column;">
 {# <input type="text" :editor="editor" v-model="editorData" :config="editorConfig"></input> #}
    <ckeditor style="background-color: white;whidth:100%;" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
</div>

{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{{asset('node_modules/@ckeditor/ckeditor5-build-balloon/build/ckeditor.js')}}"></script>
    <script src="{{asset('node_modules/@ckeditor/ckeditor5-vue/dist/ckeditor.js')}}"></script>

    <script>
    Vue.use( CKEditor );
    const app = new Vue( {
    el: '#app',
    delimiters: [
            '{', '}'
        ],
    data: {
        editor: BalloonEditor,
        editorData: '<p>Content of the editor.</p>',
        editorConfig: {
            // The configuration of the editor.
        }
    },
    methods:{
        getArticleSelection() {
                    console.log("get Article Selection");
                    axios({
                        method: 'POST',
                        url: '/get-article-selection',
                        data: {
                            //id :this.biens[0],
                            selection: this.select,
                            page: this.page
                        }
                    }).then(response => {
                        var getUrl = window.location;
                        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
                        baseUrl = baseUrl.replace("annonce", "");
                        var json = JSON.parse(response.data);
                        var object = this;
                        console.log(json);
                        this.articles = [];
                        $.each(json, function (key, value) {
                            object.articles.push({"titre": value.titre, "texte": value.texte, "date": value.date});
                        });
                        this.getCount();
                    })
                },
    }
} );
    </script>
{% endblock %}